* {
    padding: 0px;
    margin: 0px;
}

.controlButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controlButtonParent {
    display: flex;
    align-items: center;
}

.controlButtonIcon {
    position: relative;
    left: 15px;
    background-color: #03AEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin-left: 0;
    padding-left: 0;
    border-radius: 50%;
}

.controlButtonBox {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    background-color: #eaf9ff;
    height: 52.5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #1f1f1f;
}