* {
    padding: 0px;
    margin: 0px;
}

.header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 77px;
    display: flex;
    align-items: left;
    position: sticky;
    top: 0px;
}

.logoDiv {
    width: 300px;
    background-color: #e2e8fa5e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    /* width: 300px; */
    width: 180px;
}